body{
    background-image: url("2090289.jpg");
}
.color1{
    text-align: center;
    color: rgb(255, 0, 255);
}
.color2{
    text-align: center;
    color: rebeccapurple;
}
.color3{
    color: blue;
    text-align: right;
    padding: 35px;
}
.color4{
    text-align: right;
}
.color5{
    float: right;
    padding: 20px;
}