body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  https://www.w3schools.com/
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
.color1{
    color: aqua;
    text-align: center;
}
  .color6{
    background-image: linear-gradient(rgb(144, 194, 223),rgb(4, 4, 238));
  }
  .color7{
    background-image: linear-gradient(rgb(207, 29, 29),rgb(224, 13, 13));
  }
  .color8{
    background-image: linear-gradient(rgb(180, 45, 174),rgb(73, 3, 62));
  }
  .col-sm-3{
    width:5%;
    margin: 10px;
  }